.App {
  text-align: center;
  padding-left: 0;
}

.App-header {
  background-color: #d2d2d2;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d2d2d2;
}

.father-container {
  position: relative;
}

.nombres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  grid-column-gap: 17px;
  grid-row-gap: 17px;
  object-fit: contain;
  background-color: rgb(255, 255, 255);
  margin: 1.5rem 0;
  padding: 0 6rem;
  z-index: 0;

  overflow-y: auto;
}

.cards {
  list-style: none;
  width: 250px;
  justify-self: center;
}

.photos {
  background-color: #f0f0f0;

  filter: brightness(100%);
  transition: .4s ease-in-out;
}

.pictures {
  height: 220px;
  margin: 10px 0;
  width: 200px;
}

div .p-description {
  padding-top: 0.5rem;
  color: #2d2d2d;
  font-weight: 600;
}

.p-price {
  color: #f07066;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #2d2d2d;
}

.cards:hover .photos {
  /* -webkit-filter: brightness(70%); */
  filter: brightness(70%) grayscale(17%);
  transition: .8s ease-in-out;
}

.cards:hover .producto {
  text-decoration: underline #2d2d2d;
  transition: .3s ease-in-out #2d2d2d;
}

.back-to-top {
  position: sticky;
  bottom: 0;
  right: 0;
  font-size: 3rem;
  color: #2d2d2d;
  cursor: pointer;
  border: none;

  display: block;
  margin-left: auto;
  margin-right: 1.5rem;
  margin-bottom: -2.4rem;
}

.back-to-top:hover {
  transition: .3s ease-in-out;
  color: #f07066;
}